@font-face {
  src: url("../fonts/BMJUA_otf.otf");
  font-family: "Jua";
}

* {
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
  text-align: center;
}

body {
  background-color: #F0E8D9;
}

#main_title {
  color: #58595B;
  margin: 75px 0 30px;
  font-size: 64px;
}

#sub_title {
  color: #58595B;
  margin-bottom: 75px;
}

.menu {
  width: 630px;
  margin-left: auto;
  margin-right: auto
}

.food {
  margin-bottom: 50px;
  float: left;
  width: 300px;
}

.photo {
  width: 300px;
  height: 200px;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text {
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name {
  color: #58595B;
  font-size: 32px;
  margin: 0;
}

.description {
  color: #58595B;
  font-size: 16px;
  margin: 20px 0 16px;
  text-align: left;
}

.payment {
  font-size: 16px;
  color: #0000EE;
  text-decoration: none;
}

.menu div:first-child, .menu div:nth-child(3) {
  margin-right: 30px;
}